Original_dataset.zip 
semcor1.6/ 
semcor1.6.tar.gz 
CS671_Code/Evaluations/*
CS671_Code/LSTM_cuda.lua 
CS671_Code/Models/*
CS671_Code/change.sh 
CS671_Code/model_tmp 
CS671_Code/new_preprocess.py 
CS671_Code/predicted_summary.txt 
CS671_Code/*.csv 
CS671_Code/target_summary.txt 
Govec/Evaluations/*
Govec/LSTM_cuda.lua 
Govec/Models/*
Govec/change.sh 
Govec/model_tmp 
Govec/new_preprocess.py 
Govec/predicted_summary.txt 
Govec/*.csv 
Govec/target_summary.txt 
Govec/word2vec.t7
BLSTM/Evaluations/*
BLSTM/LSTM_cuda.lua 
BLSTM/Models/*
BLSTM/change.sh 
BLSTM/model_tmp 
BLSTM/new_preprocess.py 
BLSTM/predicted_summary.txt 
BLSTM/*.csv 
BLSTM/target_summary.txt 
BLSTM/SentVecModels/*
BLSTM/*.t7
TAG_BLSTM/Evaluations/*
TAG_BLSTM/LSTM_cuda.lua 
TAG_BLSTM/Models/*
TAG_BLSTM/change.sh 
TAG_BLSTM/model_tmp 
TAG_BLSTM/new_preprocess.py 
TAG_BLSTM/predicted_summary.txt 
TAG_BLSTM/*.csv 
TAG_BLSTM/target_summary.txt 
TAG_BLSTM/SentVecModels/*
TAG_BLSTM/*.t7
BLSTM_word_pos/Evaluations/*
BLSTM_word_pos/LSTM_cuda.lua 
BLSTM_word_pos/Models/*
BLSTM_word_pos/change.sh 
BLSTM_word_pos/model_tmp 
BLSTM_word_pos/new_preprocess.py 
BLSTM_word_pos/predicted_summary.txt 
BLSTM_word_pos/*.csv 
BLSTM_word_pos/target_summary.txt 
BLSTM_word_pos/SentVecModels/*
BLSTM_word_pos/*.t7
tmpGovec/*
/one-million-sense-tagged-instances-wn30/*
./Glove.t7
Glove.t7
